body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.app {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 620px;
  border: 2px solid black;
}

.app .app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: -2px;
  border: 2px solid black;
  border-bottom: 0;
  height: 40px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.app .app__contents {
  height: 100%;
  overflow-y: auto;
  background: #fafafa;
  padding: 12px;
  box-sizing: border-box;
}

.app .app__header .header-speaker {
  width: 72px;
  height: 5px;
  background: #000;
  border-radius: 20px;
  margin-right: 12px;
}
.app .app__header .header-sensor {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin-right: 12px;
}
.app .app__header .header-camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}

h1,
h2,
h3 {
  margin: 0;
}

:root {
  --borderRadius: 12px;
}

/* ------- Header ------- */

.header {
}
.header .header__title {
}
.header .header__subtitle {
  color: gray;
  font-size: 14px;
}

/* ------- Main ------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-gap: 10px;

  height: auto;
  align-items: flex-start;
}

.grid .grid__item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://i.pinimg.com/564x/f3/6a/0e/f36a0e0cb615c7453d5feea40336403c.jpg');
  background-position: center center;
  background-size: cover;
  height: 140px;
  border-radius: var(--borderRadius);
  padding: 15px 10px;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 7px;
}
.grid .grid__item-main .item-main__title {
  align-self: flex-end;
}

.grid .grid__item-main .item-main__subtitle {
  width: 70%;
}

.grid .grid__item-sub {
}
.grid .grid__item-sub img {
  max-width: 100%;
  border-radius: var(--borderRadius);
}

.grid .grid__item-sub .item-sub__title {
  font-size: 17px;
}

.grid .grid__item-sub .item-sub__subtitle {
  font-size: 14px;
  color: gray;
}
