body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --primaryColor: #e74c3c;
  --borderTop: 7px solid #000;
  --borderRight: 1px solid rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  margin-top: 7px;
}
.item__image {
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}

.footer .footer__page .page__item {
  width: 42px;
  display: inline-block;
  border-bottom: 4px solid lightgray;
  margin-right: 20px;
  font-weight: bold;
  color: lightgray;
}

.footer .footer__page .page__item.selected {
  border-bottom: 4px solid gray;
  color: var(--primaryColor);
}

.footer .footer__contact {
  display: flex;
}

.footer .footer__contact .contact__key {
  font-weight: bold;
  margin-right: 7px;
}
.footer .footer__contact .contact__value {
  color: gray;
}
.footer .footer__contact .contact__phone {
  margin-right: 24px;
}

.news {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-auto-columns: minmax(100px, 1fr);
  grid-auto-rows: 200px;
}

.header {
  grid-area: 1 / 1 / 4 / 3;
  /* margin-top: 200px; */
}

.header h1 {
  transform: rotate(-90deg);
  transform-origin: 40% 70%;
  color: var(--redColor);
  font-size: 100px;
  border-right: 7px solid var(--primaryColor);
  color: var(--primaryColor);
  margin-top: 74px;
  width: 320px;
  height: 170px;
  line-height: 95px;
}

.news .news__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: var(--borderTop);
  border-right: var(--borderRight);
  padding-right: 7px;
}

.news .news__item .item__meta {
  display: flex;
  flex-direction: column;
}

.news .news__item .item__meta span:first-child {
  font-weight: bold;
}

.news .news__item .item__number {
  font-size: 2.5rem;
  font-weight: bold;
}
.news .news__item .item__title {
  font-weight: bold;
}

.news .news__item:nth-child(2) {
  border-right: var(--borderRight);
}
.news .news__item:nth-child(3) {
  grid-row: span 2;
}

.news .news__item:nth-child(4) {
  grid-area: 1 / 4 / 4 / 6;
}

.news .news__item:nth-child(5) {
  grid-row: span 2;
}

.news .news__item:nth-child(9) {
  grid-column: span 2;
}

.news .news__item:nth-child(4) .item__meta span,
.news .news__item:nth-child(9) .item__meta span {
  align-self: flex-end;
}
.news .news__item:nth-child(4) .item__number,
.news .news__item:nth-child(9) .item__number {
  font-size: 5rem;
}
